<article>
  <div class="shadow-sm p-3 bg-white">

<h5><a href="{% url 'songs:song_detail' song.id %}">{{ song.author }} - <strong>{{ song.song_title }}</strong></a></h5>
<div class="col-6">
  {% include 'songs/includes/image.html' %}
</div>

  <ul>
    {% if not profile %}
    <li>
      Автор: <!--b>{{ song.author.get_full_name }}</b-->
      <a href="{% url 'songs:profile' song.author_id %}">{{ song.author }}</a>
    </li>
    {% endif %}
    <!--li>
      Дата публикации: {{ song.pub_date|date:"d E Y" }}
    </li-->

    {% if song.categories.exists and not category %}
    <li>
      Категория: 
      <ul>
        {% for category in song.categories.all %}
        <li><a href="{% url 'songs:category_list' category.slug %}">
              {{ category.category_title }}
            </a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </ul>
 
  {% include 'songs/includes/song_counters.html' %}
</div>
</article>