{% load user_filters %}

 <figure>
  <blockquote class="blockquote">
    <div class="shadow-sm p-2 bg-white rounded">
      {% if comments.count != 0 %}
        Комментариев: {{ comments.count }}
      {% else %}
        Комментариев нет, будь первым!
      {% endif %}
    </div>
  </blockquote>
</figure>

{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <div class="alert alert-primary" role="alert">
        {{ comment.created|date:'d E Y' }}
        {{ comment.author.get_full_name }}</a>:
      </div>
      <figure>
        <blockquote class="blockquote">
          <div class="shadow-sm p-3 bg-white">

            {{ comment.text|linebreaks }}
              {% include 'songs/includes/likes/comment_likes.html' %}
             
            {% if request.user == comment.author %}
              <a class="btn btn-primary" href="{% url 'songs:delete_comment' comment.pk %}">
                Удалить комментарий
              </a>
              <a class="btn btn-primary" href="{% url 'songs:comment_edit' comment.pk %}">
                Редактировать комментарий
              </a>
            {% endif %}                      
          </div>  
        </blockquote>
      </figure>            
    </div>

{% endfor %}

{% if user.is_authenticated %}
{% if request.resolver_match.view_name == 'songs:comment_edit' %} 
   {% include 'songs/includes/comment_edit.html' %}  
{% else %}
   {% with card_header='Добавить комментарий:' button='Добавить комментарий' %}
     <form method="post" action="{% url 'songs:add_comment' song.id %}">
     {% include 'includes/form.html' %}
    {% endwith %}
{% endif %}
{% endif %}

