Скачать ноты PDF:
{% for song_file in song.songfiles.all %}
  {% if not difficulty %}
    <li>
      <a href="{% url 'songs:song_download' song.id song_file.difficulty %}" target="_blank">
      {{ song.song_title }} ({{ song_file.get_difficulty_display }})
      </a>
    </li>
  {% endif %}
  {% if song_file.difficulty == difficulty %}
    <li>
      <a href="{% url 'songs:song_download' song.id song_file.difficulty %}" target="_blank">
      {{ song.song_title }} ({{ song_file.get_difficulty_display }})
      </a>
    </li>
  {% endif %}
{% endfor %}   