{% if user.is_authenticated %}
  <div class="row my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a 
          class="nav-link {% if index %}active{% endif %}"
          href="{% url 'songs:index' %}"
        >
          Все песни
        </a>
      </li>
      <li class="nav-item">
        <a 
           class="nav-link {% if favorites %}active{% endif %}"
           href="{% url 'songs:favorites_index' %}"
        >
          Избранные песни
        </a>
      </li>
    </ul>
  </div>
{% endif %}