{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
  Профайл автора {{ author.author_name }}
{% endblock %}

{% block content %} 
<div class="row">
  <div class="col-6">
    <h1>{{ author.author_name }}</h1>
    <h4>Всего песен: {{ author.songs.count }}</h4>
    <h6>{{ author.description }}</h6>
  </div>
  <div class="col-6">
    {% thumbnail author.image "960x500" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
  </div>
</div>
<br>
  {% for song in page_obj %}
    {% include 'songs/includes/article.html' with profile=True %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'songs/includes/paginator.html' %}
{% endblock %}