{% extends 'base.html' %}

{% block title %}
 {{ song_title|truncatechars:30 }}
{% endblock %}

{% block content %}
  <div class="row">

    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Автор: <a href="{% url 'songs:profile' song.author_id %}">
            {{ song.author }}
          </a>
         
        </li>
        <li class="list-group-item">
          Дата публикации: {{ song.pub_date|date:"d E Y" }}
        </li>

        {% if song.category and not category %}  
        <li class="list-group-item">
          Категория: 
          <a href="{% url 'songs:category_list' song.category.slug %}">
            {{ song.category.category_title }}
          </a>
        </li>
        {% endif %}

        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего песен автора: {{ song.author.songs.count }}
        </li>
        <li class="list-group-item">
          <a href="{% url 'songs:profile' song.author_id %}">
            все песни автора {{ song.author_name }}
          </a>
        </li>
      </ul>
    </aside>

    <article class="col-12 col-md-9">
      <h3>{{ song.song_title }}</h3>
      <p>{{ song.description }}</p>

      Скачать PDF: <a href="{% url 'songs:song_download' song.id %}">
        {{ song.song_title }}
      </a>
        
    </article>
    {% include 'songs/includes/song_counters.html' with song_detail=True %}
    {% include 'songs/includes/comment.html' %}
  </div>
{% endblock %}