{% extends "base.html" %}

{% block title %}Технологии{% endblock %}

{% block content %}

  <div class="row">
    <h1>Технологии</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python 3.9.10
        </li>
        <li class="list-group-item">
          Django 4.2.14
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          PostgreSQL
        </li>
        <li class="list-group-item">
          Docker
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Бесплатная библиотека авторских переложений для фортепиано
      </p>
    </article>
  </div>

{% endblock %}